In [1]:
#importer des pandas et créer un dataframe appelé "employee_df" 

import pandas as pd
data = {'Name' : ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department' : ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Âge' : [30, 40, 25, 35, 45, 28], 'Sexe' : ['Homme', 'Femme', 'Homme', 'Femme ', 'Homme', 'Femme'], 'Salaire' : [50000, 60000, 45000, 55000, 70000, 55000], 'Expérience' : [3, 7, 2, 5, 10, 4]}
employee_df = pd.DataFrame(data)
print(employee_df)

#1.Utilisez la méthode iloc pour sélectionner les 3 premières lignes de la trame de données
print(employee_df.iloc[:3])

#2.Utilisez la méthode loc pour sélectionner toutes les lignes où le département est "Marketing".
print(employee_df.loc[employee_df['Department']=='Marketing'])

#3.	Utilisez la méthode iloc pour sélectionner les colonnes Age et Gender pour les 4 premières lignes de la base de données

print(employee_df.iloc[:4][['Âge', 'Sexe']])

#4.Utilisez la méthode loc pour sélectionner les colonnes Salaire et Expérience pour toutes les lignes où le Sexe est "Homme".

print(employee_df.loc[employee_df['Sexe'] == 'Homme'][["Salaire", "Expérience"]])

    Name Department  Âge    Sexe  Salaire  Expérience
0   John         IT   30   Homme    50000           3
1   Mary  Marketing   40   Femme    60000           7
2    Bob      Sales   25   Homme    45000           2
3  Sarah         IT   35  Femme     55000           5
4    Tom    Finance   45   Homme    70000          10
5   Lisa  Marketing   28   Femme    55000           4
   Name Department  Âge   Sexe  Salaire  Expérience
0  John         IT   30  Homme    50000           3
1  Mary  Marketing   40  Femme    60000           7
2   Bob      Sales   25  Homme    45000           2
   Name Department  Âge   Sexe  Salaire  Expérience
1  Mary  Marketing   40  Femme    60000           7
5  Lisa  Marketing   28  Femme    55000           4
   Âge    Sexe
0   30   Homme
1   40   Femme
2   25   Homme
3   35  Femme
   Salaire  Expérience
0    50000           3
2    45000           2
4    70000          10