# Utilisez cet ensemble de données et l'exploration des règles d'association pour trouver de nouveaux plans marketing

In [1]:
conda install -c conda-forge mlxtend

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Hp\anaconda3

  added / updated specs:
    - mlxtend


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.5.7   |       h56e8100_0         145 KB  conda-forge
    certifi-2023.5.7           |     pyhd8ed1ab_0         149 KB  conda-forge
    mlxtend-0.22.0             |     pyhd8ed1ab_0         1.2 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.5 MB

The following NEW packages will be INSTALLED:

  mlxtend            conda-forge/noarch::mlxtend-0.22.0-pyhd8ed1ab_0

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2023.01.10~ --> conda-forge::ca-certificates-2023.5.7-h56e8100_0
  certifi            pkgs/main/win-64::certifi-2022.12.7-p~ --> conda-forge/noarch::certifi-2023.5.7-pyhd8ed1ab_0



Downloading and Extracting Packages

mlxtend-0.22.0       | 1.2 MB    |            |   0%

certifi-2023.5.7     | 149 KB    |            |   0%


ca-certificates-2023 | 145 KB    |            |   0%

certifi-2023.5.7     | 149 KB    | #          |  11%

certifi-2023.5.7     | 149 KB    | ########## | 100%


ca-certificates-2023 | 145 KB    | #1         |  11%


ca-certificates-2023 | 145 KB    | ########## | 100%
mlxtend-0.22.0       | 1.2 MB    | 1          |   1%
mlxtend-0.22.0       | 1.2 MB    | ######9    |  70%
mlxtend-0.22.0       | 1.2 MB    | ########## | 100%








Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [2]:
dataset = [['Jupe', 'Baskets', 'Écharpe', 'Pantalon', 'Chapeau'],

        ['Lunettes de soleil', 'Jupe', 'Baskets', 'Pantalon', 'Chapeau'],

        ['Robe', 'Sandales', 'Écharpe', 'Pantalon', 'Talons'],

        ['Robe', 'Collier', "Boucles d'oreilles",'Écharpe','Chapeau', 'Talons', 'Chapeau'],

      ["Boucles d'oreilles", 'Jupe', 'Jupe', 'Écharpe', 'Chemise', 'Pantalon']]

Nous pouvons remarquer que chaque liste interne représente une transaction ou un achat effectué par un client.

In [3]:
#Préparation a priori
#transformer notre ensemble de données en une trame de données encodée à chaud.
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Appliquer le codage à un coup sur notre ensemble de données
df=pd.DataFrame(te_ary, columns=te.columns_)  #Création d'un nouveau DataFrame à partir de notre tableau Numpy
df

,Baskets,Boucles d'oreilles,Chapeau,Chemise,Collier,Jupe,Lunettes de soleil,Pantalon,Robe,Sandales,Talons,Écharpe
0,True,False,True,False,False,True,False,True,False,False,False,True
1,True,False,True,False,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,True,True,True,True
3,False,True,True,False,True,False,False,False,True,False,True,True
4,False,True,False,True,False,True,False,True,False,False,False,True

In [4]:
#Code d'assistance
#Sélectionnons des ensembles d'éléments avec un minimum de 60 % de support

from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.6      (5)
2      0.8      (7)
3      0.8     (11)
4      0.6   (5, 7)
5      0.6  (11, 7)

Apriori retourne par défaut l'indice de colonne de l'item

In [5]:
#Prise en charge des noms de colonnes

frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Au lieu d'indices de colonne, nous pouvons utiliser des noms de colonne.
frequent_itemsets

   support             itemsets
0      0.6            (Chapeau)
1      0.6               (Jupe)
2      0.8           (Pantalon)
3      0.8            (Écharpe)
4      0.6     (Pantalon, Jupe)
5      0.6  (Pantalon, Écharpe)

In [12]:
#Code de confiance
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) #éléments associés

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Pantalon),(Jupe),0.8,0.6,0.6,0.75,1.2500,0.12,1.6,1.00
1,(Jupe),(Pantalon),0.6,0.8,0.6,1.00,1.2500,0.12,inf,0.50
2,(Pantalon),(Écharpe),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
3,(Écharpe),(Pantalon),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25

Les clients ont 0.75 de chance d'acheter de jupe après avoir acheté de Pantalon

Les clients ont une de chance d'acheter de pantalon après avoir acheté de Jupe

Les clients ont O,75 de chance d'acheter d'Echarpe après avoir acheté de Pantalon

Les clients ont 0,75 de chance d'acheter de Pantalon après avoir acheté d'Echarpe

In [13]:
#Code ascenseur

from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Jupe),(Pantalon),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5

Il est plus probable d'acheter Jupe et Pantalon plutôt que Jupe uniquement

In [15]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=0.5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Pantalon),(Jupe),0.8,0.6,0.6,0.75,1.2500,0.12,1.6,1.00
1,(Jupe),(Pantalon),0.6,0.8,0.6,1.00,1.2500,0.12,inf,0.50
2,(Pantalon),(Écharpe),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
3,(Écharpe),(Pantalon),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25

il est peu probable d'acheter Pantalon et Echarpe ensemble.

# Faisons le même point de contrôle mais avec un jeu de données plus grand !

In [15]:
import pandas as pd

data=pd.read_csv('Market_Basket_Optimisation.csv')

In [16]:
#Préparation des données
transactions = []
for row in data.iterrows():
    transaction = [item for item in row[1] if pd.notnull(item)]
    transactions.append(transaction)

In [17]:
#algorithmes d'association 

from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
data_encoded = te.fit_transform(transactions)
df_encoded = pd.DataFrame(data_encoded, columns=te.columns_)

In [18]:


from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(df_encoded, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)

In [19]:
print(rules.head())

  antecedents      consequents  antecedent support  consequent support  \
0   (avocado)  (mineral water)            0.033200            0.238267
1   (burgers)           (eggs)            0.087200            0.179733
2      (cake)  (mineral water)            0.081067            0.238267
3   (cereals)  (mineral water)            0.025733            0.238267
4   (chicken)  (mineral water)            0.060000            0.238267

    support  confidence      lift  leverage  conviction  zhangs_metric
0  0.011467    0.345382  1.449559  0.003556    1.163629       0.320785
1  0.028800    0.330275  1.837585  0.013127    1.224782       0.499351
2  0.027467    0.338816  1.422002  0.008151    1.152074       0.322947
3  0.010267    0.398964  1.674442  0.004135    1.267367       0.413425
4  0.022800    0.380000  1.594852  0.008504    1.228602       0.396790